<html>

<head>

	<link rel="stylesheet" type="text/css" href="index style 2.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/PNG" href="backgrounds/Untitled-6.png">


	<title>ABOUT</title>

	
</head>

<body>

<div class="jumbotron">
  <h1 class="display-4">Book a Book</h1>
		
	<h2 class="lead">This is a web-based application project under supervision of Dr. Amal Professorin Computer and Systems Engineering department.</h2>
 	 <hr class="my-4">
	<ul>
		<font size="6"><li>ziadhesham97@gmail.com</li></font>
		<font size="6"><li>usseif97@gmail.com</li></font>
		<font size="6"><li>AhmedEzeny@gmail.com</li></font>
		<font size="6"><li>mosyoui@gmail.com</li></font>
	</ul>

</div>


</body>

</html>