<link rel="stylesheet" type="text/css" href="index style.css">

<div class="dd">
<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
</div>